i{
    cursor: pointer;
}

.generic-conainer{
    background: #e5e5e542;
    padding-bottom: 50px;   
}

.common-header{
    background-color: #303f9f;
    color: white;
    margin-bottom: 4em;
}

button{
    margin-top: 10px !important;
}

div, Grid{
    animation: fadeInAnimation 0.7s;
}

@keyframes fadeInAnimation{
    from{opacity: 0;}
    to{opacity: 1;}
}

.main-heading{
    margin-left: 20px;
}

table{
    margin-top: 3em;
    width: 100% !important;
    text-align: center;
    border: solid 1px grey;
}

th{
    background-color: #ebebeb;
}

th, td{
    padding : 10px;
}